@media screen and (max-width: 520px) {
    .nav-helper {
        nav.c-breadcrumb {
            font-size: 85%;

            .c-breadcrumb__list {
                display: inline;
            }

            .c-breadcrumb__item {
                display: inline;
                padding: 0;
            }
        }
    }
}