@use "sass:color";

.c-button {
    &.c-button--sm {
        letter-spacing: 1px;
    }
}

body:not(.home) {

    .sidebar-content-area-top {
        --c-button-primary-color: var(--theme-button-background, #{$color-brand-alt});

        .c-button:not(.c-notice__button) {
            --base: 7px;
            background-color: var(--theme-button-background, #{$color-brand-alt});

            &:hover {
                background-color: var(--theme-button-background, #{$color-brand-alt});
                border-color: var(--theme-button-background, #{$color-brand-alt});
                opacity: .9;
            }

            .c-button__label {
                color: var(--theme-button-color, white);
            }
        }
    }

    .modularity-event-index {
        .c-button {
            --base: 7px;
            background-color: var(--theme-button-background, #{$color-brand-alt});
            border: 1px solid var(--theme-button-color, black);

            &:hover {
                background-color: var(--theme-button-background, #{$color-brand-alt});
            }

            &__filled:hover::after {
                background-color: color-mix(in srgb, var(--theme-button-background, #{$color-brand-alt}) 70%, white 30%) !important;
                opacity: 1 !important;
                z-index: -1;
            }

            .c-button__label {
                color: var(--theme-button-color, white);
            }

            &.disabled:hover::after {
                display: none !important;
            }
        }

        .c-pagination {
            .c-button {
                .c-icon {
                    text-align: center;

                    &::after {
                        display: none;
                    }
                }

                &.c-button__filled--primary {
                    background-color: var(--theme-button-color, #{$color-brand-alt});
                    color: white;
                }

                &.disabled {
                    cursor: not-allowed;
                    opacity: 1;
                }
            }
        }
    }
}

.sidebar-content-area .modularity-mod-recommend {
    .c-button {
        --base: 6.5px;
        --c-button-primary-color: #{$color-gray};
        background-color: #{$color-gray};
        border-radius: var(--radius-md);

        &:hover {
            background-color: color.scale($color-gray, $lightness: -10%);
            border-color: color.scale($color-gray, $lightness: -10%);
        }

        .c-button__label {
            color: black;
        }
    }
}

.ak-footer-knapp {
    border-right: 1px solid gray;
    /* Border till höger på alla element */
    padding-right: 10px;
    /* Justera padding efter behov */
}

.ak-footer-knapp:first-child {
    border-left: 1px solid gray;
    /* Border till vänster på första elementet */
    padding-left: 10px;
    /* Justera padding efter behov */
}


.ak-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0.75rem;
    padding: 2rem 0rem;
}

a.ak-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    background-color: $color-plantation;
    color: white;
    color: white;
    border-radius: 50px;
    text-decoration: none;

    &:hover {
        color: white;
        opacity: .7;
    }
}

// /* Knapparna överst i header*/
// .c-nav .c-button {
//     font-size: 0.95rem;
// }

// /* Primär knapp */
// .c-button__basic--primary,
// .c-button__basic--primary .c-button__label {
//     color: #ffffff;
//     /* Textfärg */
//     background-color: #236151;
//     /* Lägg till bakgrundsfärg */
//     border-radius: 50px;
//     /* Gör hörnen runda */
//     padding: 0.375rem 1rem;
//     /* Justera padding för att likna en badge */
//     font-size: 1.1rem;
//     /* Textstorlek */
//     display: flex;
//     /* Använd flexbox för centrerad text */
//     align-items: center;
//     /* Centrera vertikalt */
//     justify-content: center;
//     /* Centrera horisontellt */
//     text-align: center;
//     /* Säkerställ att texten är centrerad */
//     cursor: pointer;
//     /* Ändra markören till en pekare */
//     transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
//     /* Lägg till övergång för bakgrund och kantfärg */
// }

// /* Sekundär knapp */
// .c-button__basic--secondary,
// .c-button__basic--secondary .c-button__label {
//     color: #000000;
//     /* Textfärg */
//     background-color: #CADFDE;
//     /* Lägg till bakgrundsfärg */
//     border-radius: 50px;
//     /* Gör hörnen runda */
//     padding: 0.375rem 1rem;
//     /* Justera padding för att likna en badge */
//     font-size: 1.1rem;
//     /* Textstorlek */
//     display: flex;
//     /* Använd flexbox för centrerad text */
//     align-items: center;
//     /* Centrera vertikalt */
//     justify-content: center;
//     /* Centrera horisontellt */
//     text-align: center;
//     /* Säkerställ att texten är centrerad */
//     cursor: pointer;
//     /* Ändra markören till en pekare */
//     transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
//     /* Lägg till övergång för bakgrund och kantfärg */
// }

// /* standard knapp */
// .c-button__basic--deafult,
// .c-button__basic--deafult .c-button__label .c-button__label-text {
//     color: #000000;
//     /* Textfärg */
//     background-color: #FAD945;
//     /* Lägg till bakgrundsfärg */
//     border-radius: 50px;
//     /* Gör hörnen runda */
//     padding: 0.375rem 1rem;
//     /* Justera padding för att likna en badge */
//     font-size: 1.1rem;
//     /* Textstorlek */
//     display: flex;
//     /* Använd flexbox för centrerad text */
//     align-items: center;
//     /* Centrera vertikalt */
//     justify-content: center;
//     /* Centrera horisontellt */
//     text-align: center;
//     /* Säkerställ att texten är centrerad */
//     cursor: pointer;
//     /* Ändra markören till en pekare */
//     transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
//     /* Lägg till övergång för bakgrund och kantfärg */
// }

// .c-button__basic--primary:hover {
//     background-color: color.scale(#ae0b05, $lightness: -10%);
//     /* Mörkare bakgrund vid hover */
// }


// /* Gör ikoner outlined */
// .material-symbols-outlined.material-symbols-outlined--filled {
//     font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24 !important;
// }

// /* Ändrar färg på menyknappen */
// .c-button__basic--deafult .c-button__label,
// .c-button__basic--default {
//     color: #236151;
// }