@use "sass:color";

@layer theme {
    .c-button {
        --c-button--border-radius: 4;
    }

    body:not(.home) {
        .sidebar-content-area-top,
        #sidebar-content-area-top {
            --c-button--color--primary: var(--theme-button-background, #{$color-brand-alt});
            --c-button--color--primary-contrast: var(--theme-button-color, #fff);
            --c-button--color--primary-border: var(--theme-button-background, #{$color-brand-alt});
        }

        .modularity-event-index {
            --c-button--color--primary: var(--theme-button-background, var(--color--primary, #{$color-brand-alt}));
            --c-button--color--primary-contrast: var(--theme-button-color, var(--color--primary-contrast, #fff));
            --c-button--color--primary-border: var(--theme-button-background, var(--color--primary-border, #{$color-brand-alt}));
        }
    }

    .sidebar-content-area .modularity-mod-recommend,
    #sidebar-content-area .modularity-mod-recommend {
        --c-button--color--primary: #{$color-gray};
        --c-button--color--primary-contrast: #000;
        --c-button--color--primary-border: #{color.scale($color-gray, $lightness: -10%)};
    }
}

.c-button {
    &.c-button--sm {
        letter-spacing: 1px;
    }
}

body:not(.home) {
    .sidebar-content-area-top,
    #sidebar-content-area-top {
        .c-button:not(.c-notice__button) {
            --c-button--base: 7px;
        }
    }

    .modularity-event-index {
        .c-button {
            --c-button--base: 7px;
        }

        .c-pagination {
            .c-button {
                .c-icon {
                    text-align: center;

                    &::after {
                        display: none;
                    }
                }

                &.disabled {
                    cursor: not-allowed;
                    opacity: 1;
                }
            }
        }
    }
}

.sidebar-content-area .modularity-mod-recommend,
#sidebar-content-area .modularity-mod-recommend {
    .c-button {
        --c-button--base: 6.5px;
    }
}

.ak-footer-knapp {
    border-right: 1px solid var(--color--surface-border, gray);
    padding-right: 10px;
}

.ak-footer-knapp:first-child {
    border-left: 1px solid var(--color--surface-border, gray);
    padding-left: 10px;
}

.ak-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0.75rem;
    padding: 2rem 0rem;
}

a.ak-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    background-color: var(--color--primary, #{$color-plantation});
    color: var(--color--primary-contrast, #fff);
    border-radius: 50px;
    text-decoration: none;

    &:hover {
        color: var(--color--primary-contrast, #fff);
        opacity: .7;
    }
}
