.c-card {
    &__header {
        background-color: var(--card-header-background);
        color: var(--card-header-color);
    }

    &__body {
        background-color: var(--card-body-background);
        color: var(--card-body-color);
    }
}

.sidebar-content-area {
    .c-card {
        &__header {
            background-color: var(--color-page-theme, var(--card-header-background));
            color: var(--theme-card-header-color, var(--card-header-color));
        }
    }
}

body.home {
    --card-header-background: white;
    --card-header-color: black;
}

.sidebar-content-area,
.sidebar-content-area-top {
    --card-header-color: white;

    .modularity-mod-manualinput,
    .modularity-mod-posts {
        a.c-card {
            .c-card__body {
                padding: calc(var(--base, 8px)* 2);
            }

            .c-card__heading {
                text-decoration: underline;
            }

            .c-group--vertical {
                align-items: flex-start;
                flex-direction: row;

                &:before {
                    content: 'arrow_forward';
                    font-family: 'Material Symbols Rounded';
                    font-size: 1.5rem;
                    height: 100%;
                    line-height: 1.3;
                    margin-right: .5rem;
                }
            }
        }
    }
}

.sidebar-left-sidebar,
.sidebar-right-sidebar,
.single-event-sidebar-right {
    --card-header-background: var(--theme-sidebar-background, var(--color-page-theme, #{$color-gray}));
    --card-header-color: var(--theme-sidebar-color, black);
    --card-body-background: var(--theme-sidebar-background, var(--color-page-theme, #{$color-gray}));
    --card-body-color: var(--theme-sidebar-color, black);

    .c-card {
        &__header {
            padding: calc(var(--base, 8px)* 3);
            padding-bottom: calc(var(--base, 4px) * 1.5);
        }

        &__body {
            padding: calc(var(--base, 8px)* 3);
        }

        &:has(.c-card__header) {
            .c-card__body {
                padding-top: 0;
            }
        }
    }
}

.single-event-sidebar-right {
    .c-card__body {

        h2,
        h3,
        h4 {
            margin-bottom: .5rem;
        }

        p,
        ul,
        ol {
            margin-top: 0 !important;
        }
    }
}