.c-card {
    &__header {
        background-color: var(--card-header-background);
        color: var(--card-header-color);
    }

    &__body {
        background-color: var(--card-body-background);
        color: var(--card-body-color);
    }
}

body.home {
    --card-header-background: white;
    --card-header-color: black;
}

.sidebar-content-area {
    --card-header-color: white;
}

.sidebar-left-sidebar,
.sidebar-right-sidebar {
    --card-header-background: white;
    --card-header-color: black;

    .c-card {
        &__header {
            padding: calc(var(--base, 8px)* 3);
            padding-bottom: calc(var(--base, 4px) * 1.5);
        }

        &__body {
            padding: calc(var(--base, 8px)* 3);
            padding-top: 0;
        }
    }
}

.card__header--bg-color-winered {
    --card-header-background: #{$color-brand-alt};
}

.background-color-gray {
    --card-header-background: #{$color-gray};
    --card-header-color: black;

    --card-body-background: #{$color-gray};
    --card-body-color: black;
}