blockquote {
    padding: 1rem 0rem 2rem 3rem;
    background-color: transparent;
    color: black;

    &:before {
        top: 27px;
        transform: rotate(180deg);
        left: 0;
        color: $color-plantation;
    }

    &:after {
        display: none;
    }

    @media (max-width: 768px) {
        padding: 3rem 0rem 2rem 0rem;

        &:before {
            top: 15px;
            left: 0;
        }
    }
}
