.modularity-mod-fileslist {
    .c-group:has(.c-field) {
        .c-card__body {
            padding: calc(var(--base, 8px)* 2)
        }
    }

    .c-card {
        .c-field {
            label {
                @extend .sr-only;
            }

            input {
                border-radius: calc(var(--base, 8px)* 6);
                font-size: var(--base-font-size, 1rem);
            }

            &__inner {
                background-color: var(--c-field--color--surface, var(--color--surface, #fff));
                border: calc(var(--c-field--border-width, var(--border-width, .25)) * var(--base, 8px)) solid var(--theme-card-header-background, var(--color-page-theme, var(--c-field--color--primary, var(--color--primary))));
                border-radius: calc(var(--base, 8px)* 6);
                height: auto;
            }
        }
    }
}
