.modularity-mod-inlaylist {
    &--appearance-buttons {
        .c-collection {
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
            padding: 1rem;

            &__item {
                background: white;
                border: 2px solid $color-brand-light;
                border-radius: var(--base, 8px);
                overflow: hidden;

                &:hover {
                    background-color: #f3f3f3;

                    &::after {
                        display: none;
                    }

                    .c-collection__content {
                        transform: none;
                    }
                }
            }

            &__icon {
                display: none;
            }

            &__content {
                align-items: center;
                color: $color-brand;
                display: flex;
                justify-content: center;
                //white-space: nowrap;

                h2 {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }

            .c-collection__icon+.c-collection__content {
                padding: .75rem 1.5rem;
            }
        }
    }

    &--background-color {
        padding: 1rem 0;

        --theme-card-header-background: var(--theme-external-links-general-background, $color-geyser);
        --theme-card-header-color: var(--theme-external-links-general-color, black);
        --card-header-background: var(--theme-external-links-general-background, $color-geyser);
        --card-header-color: var(--theme-external-links-general-color, black);

        &::before {
            background: var(--theme-external-links-general-background, $color-geyser);
            content: '';
            height: 100%;
            margin-left: calc(calc(calc(-100vw - var(--scrollbar))/2) + 50% + var(--scrollbar));
            position: absolute;
            top: 0;
            width: calc(100vw - var(--scrollbar));

            @media screen and (min-width: 1248px) {
                margin-left: calc(-50vw + calc(var(--container-width) / 2) - calc(var(--base, 8px)* 3) + calc(var(--scrollbar)/2));
            }
        }

        .c-card {
            background: var(--theme-external-links-general-background, $color-geyser);
            color: var(--theme-external-links-general-color, black);
        }

        .c-collection {
            background: var(--theme-external-links-general-background, $color-geyser);
            padding: 0 1rem 1rem;

            &__item {
                background: var(--theme-external-links-button-background, white);
                border: 0;
                position: relative;

                &:hover {
                    background-color: inherit;

                    &::after {
                        display: block;
                    }
                }

                &::after {
                    background: var(--theme-external-links-button-background, white);
                    border-radius: var(--base, 8px);
                    content: '';
                    display: none;
                    height: 100%;
                    left: 0;
                    opacity: .85;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                }
            }

            &__content {
                color: var(--theme-external-links-button-color, $color-plantation);
                z-index: 2;
            }
        }
    }
}

.sidebar-content-area {
    .modularity-mod-inlaylist {
        .c-collection {
            h2 {
                font-weight: 500;
            }
        }
    }
}