.modularity-mod-inlaylist {
    &--appearance-buttons {
        .c-collection {
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
            padding: 1rem;

            &__item {
                background: white;
                border: 3px solid $color-brand-light;
                border-radius: 2rem;

                &:hover {
                    background-color: #f3f3f3;

                    &::after {
                        display: none;
                    }

                    .c-collection__content {
                        transform: none;
                    }
                }
            }

            &__icon {
                display: none;
            }

            &__content {
                align-items: center;
                color: $color-brand;
                display: flex;
                justify-content: center;
                //white-space: nowrap;

                h2 {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }

            .c-collection__icon+.c-collection__content {
                padding: .65rem 1.5rem;
            }
        }
    }

    &--gray-background {
        background: $color-gray;
        padding: 1rem 0;

        --theme-card-header-background: #{$color-gray};
        --theme-card-header-color: black;
        --card-header-background: #{$color-gray};
        --card-header-color: black;

        &::before {
            background: $color-gray;
            content: '';
            height: 100%;
            margin-left: calc(calc(calc(-100vw - var(--scrollbar))/2) + 50% + var(--scrollbar));
            position: absolute;
            top: 0;
            width: calc(100vw - var(--scrollbar));

            @media screen and (min-width: 1248px) {
                margin-left: calc(-50vw + calc(var(--container-width) / 2) - calc(var(--base, 8px)* 3) + calc(var(--scrollbar)/2));
            }
        }

        .c-collection {
            background: $color-gray;
        }
    }
}

.sidebar-content-area {
    .modularity-mod-inlaylist {
        .c-collection {
            h2 {
                font-weight: 500;
            }
        }
    }
}