.modularity-mod-manualinput {
    &.has-search {
        form {
            display: none;
        }

        &.js-search {
            form {
                background-color: white;
                border-top-left-radius: var(--c-card-border-radius, var(--radius-lg, calc(var(--base, 8px) / 2)));
                border-top-right-radius: var(--c-card-border-radius, var(--radius-lg, calc(var(--base, 8px) / 2)));
                display: block;
                padding: calc(var(--base, 8px)* 2);
            }

            label {
                @extend .sr-only;
            }

            .c-card {
                &__header {
                    border-radius: 0;
                }
            }
        }
    }

    &:has(.c-accordion) {
        --c-button-primary-color: #{$color-brand-alt};
        --theme-card-header-background: #{$color-brand-alt};
        --theme-card-header-color: white;
        --card-header-background: #{$color-brand-alt};
        --card-header-color: white;
    }
}