.modularity-mod-manualinput {
  &.has-search {
    form {
      display: none;
    }

    &.js-search {
      form {
        background-color: var(--color--surface, #fff);
        border-top-left-radius: calc(var(--c-card--border-radius, var(--border-radius, 1)) * var(--base, 8px));
        border-top-right-radius: calc(var(--c-card--border-radius, var(--border-radius, 1)) * var(--base, 8px));
        display: block;
        padding: calc(var(--base, 8px) * 2);
      }

      label {
        @extend .sr-only;
      }

      .c-card {
        &__header {
          border-radius: 0;
        }
      }
    }
  }

  .c-card__heading-container.c-group--horizontal {
    flex-direction: row-reverse;
    justify-content: start;
    gap: calc(var(--base, 8px) * 1);
    .c-element:has(.c-icon) {
      filter: none;
    }
  }

  &:has(.c-accordion) {
    --c-button--color--primary: var(--color-page-theme, #{$color-brand-alt});
    --c-button--color--primary-contrast: var(--theme-card-header-color, #fff);
    --c-button--color--primary-border: var(--color-page-theme, #{$color-brand-alt});
    --c-card--color--primary: var(--color-page-theme, #{$color-brand-alt});
    --c-card--color--primary-contrast: var(--theme-card-header-color, #fff);

    .c-card__header {
      background-color: var(--c-card--color--primary);
      color: var(--c-card--color--primary-contrast);
    }
  }
}
