@layer theme {
    .sidebar-content-area .modularity-mod-recommend,
    .sidebar-content-area-top .modularity-mod-recommend,
    #sidebar-content-area .modularity-mod-recommend,
    #sidebar-content-area-top .modularity-mod-recommend {
        --c-button--border-radius: 1;

        .c-button {
            --c-button--border-radius: 1;
        }
    }
}

.sidebar-content-area-top,
#sidebar-content-area-top {
    .modularity-mod-recommend {
        .c-button {
            --c-button--border-radius: 1;
            border-radius: calc(1 * var(--base, 8px));
        }
    }
}

.sidebar-content-area,
#sidebar-content-area {
    .modularity-mod-recommend {
        --c-button--border-radius: 1;
        background: var(--color--surface, #fff);
        border-radius: calc(var(--c-card--border-radius, var(--border-radius, .5)) * var(--base, 8px));
        padding: 1rem;

        h2,
        h3,
        h4 {
            &.module-title {
                font-size: 1rem;
                font-weight: var(--font-weight-heading, 700);
            }
        }

        .c-button {
            --c-button--border-radius: 1;
            border-radius: calc(1 * var(--base, 8px));
        }
    }
}
