.modularity-mod-text {
    &.alingsas-appearance-gray {
        .c-card {
            background-color: $color-gray;

            a {
                color: var(--color--surface-contrast, #{$color-black});
            }
        }
    }
}

.sidebar-right-sidebar {
    .modularity-mod-text {

        h2,
        h3,
        h4 {
            font-size: clamp(calc(var(--base-font-size, 1rem) + .125rem), 3vw, var(--font-size-500, 1.125rem));
            font-weight: var(--font-weight-heading, 500);
        }

        a {
            color: var(--theme-sidebar-links-link-color, var(--c-link--color--primary, var(--color--primary)));
        }

        a:hover {
            color: var(--theme-sidebar-links-link-color_hover, var(--color--primary-border));
        }

        a:visited {
            color: var(--theme-sidebar-links-link-color_visited, var(--color--primary-border));
        }
    }
}
