.c-article {

    h1,
    .h1,
    .c-typography.c-typography__variant--h1,
    h2,
    .h2,
    .c-typography.c-typography__variant--h2,
    h3,
    .h3,
    .c-typography.c-typography__variant--h3,
    h4,
    .h4,
    .c-typography.c-typography__variant--h4,
    h5,
    .h5,
    .c-typography.c-typography__variant--h5,
    h6,
    .h6,
    .c-typography.c-typography__variant--h6 {
        margin-top: 1.75rem;
    }

    p.lead {
        border-bottom: 2px solid $color-gray;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
}