#main-content,
.s-sidebar {
    form {
        .c-field {
            .c-field_focus-styler {
                border-radius: calc(var(--base, 8px)* 6);
                outline-color: var(--c-button-primary-color);
                outline-width: 3px;
            }

            input {
                border-radius: calc(var(--base, 8px)* 6);
                font-size: 16px;
            }

            &__inner {
                background-color: #fff;
                border: 2px solid var(--c-button-primary-color);
                border-radius: calc(var(--base, 8px)* 6);
                height: 100%;
            }
        }

        .c-select {
            &__action-overlay {
                &:focus {
                    border-radius: calc(var(--base, 8px)* 6);
                    outline-color: var(--c-button-primary-color);
                    outline-width: 3px;
                }
            }

            .c-select__dropdown {
                width: calc(100% - calc(var(--base, 8px)* 6));
                left: calc(var(--base, 8px)* 3);
                top: calc(100% + calc(var(--base, 8px)/2));
            }
        }
    }
}

body.search {
    #main-content {
        .ak-search {
            form {
                .c-group {
                    background-color: var(--c-button-primary-color);
                    border-radius: calc(var(--base, 8px)* 6);
                    border: 2px solid var(--c-button-primary-color);

                    .c-field {
                        background-color: var(--c-button-primary-color);
                        border-bottom-left-radius: calc(var(--base, 8px)* 6);
                        border-top-left-radius: calc(var(--base, 8px)* 6);

                        &__inner {
                            border: 0;
                        }
                    }

                    .c-button {
                        color: white;
                        padding: 0 calc(var(--base, 8px)*4) 0 calc(var(--base, 8px)*2);

                        &:hover {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}