@layer theme {
    .collapsible-search-form,
    body.search .ak-search {
        --c-field--border-radius: 4;
    }
}

#main-content,
.s-sidebar,
[data-scope*="s-sidebar;"] {
    form {
        .c-select {
            &__action-overlay {
                &:focus {
                    border-radius: calc(var(--c-field--border-radius, var(--border-radius, 1)) * var(--base, 8px));
                    outline-color: var(--color--focus);
                    outline-width: 3px;
                }
            }

            .c-select__dropdown {
                width: calc(100% - calc(var(--base, 8px)* 6));
                left: calc(var(--base, 8px)* 3);
                top: calc(100% + calc(var(--base, 8px)/2));
            }
        }
    }
}
