@layer theme {
    :root {
        --font-family-base: Inter, sans-serif;
        --font-family-heading: Inter, sans-serif;
        --font-size-700: 2.5rem;
        --font-weight-heading: 700;
        --alingsas-page-title-color: var(--theme-page-title-color, #{$color-plantation});
    }
}

h1#page-title,
h1.page-header__title {
    color: var(--hero-color, var(--alingsas-page-title-color));
}

#main-content {
    --c-link--color--primary: var(--theme-links-link-color, var(--color--primary));
    --alingsas-link-hover-color: var(--theme-links-link-color_hover, var(--color--primary-border));
}

a,
.link {
    color: var(--c-link--color--primary, var(--color--primary, #236151));
}

a:hover,
.link:hover {
    color: var(--alingsas-link-hover-color, var(--color--primary-border, #13332b));
}
