body.archive {
  &.post-type-archive-nyheter {
    .c-card__footer {
      margin-top: 1rem;
      padding: 1rem 0 0 0;
    }

    .s-archive-template-cards {
      @media (min-width: 56em) {
        .c-card {
          padding: calc(var(--base, 8px) * 4);

          &__body {
            order: 2;
            padding: 0 calc(var(--base, 8px) * 4) 0 0;
          }

          &__image-container {
            order: 3;

            figure {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

.post-type-archive-lediga-jobb {
  table {
    border-radius: 15px;
  }

  table thead th {
    background-color: #fad945;
    color: #000;

    @media screen and (min-width: 1024px) {
      white-space: nowrap;
    }

    &.c-table__column-2 {
      min-width: 140px;
    }
  }

  .c-table .c-table__body .c-table__line:hover .c-table__column {
    background-color: rgba(0, 0, 0, 0.1);
  }

  table th a.c-link {
    color: #000;
    text-decoration: none;
    font-weight: 400;
  }
}

.s-archive-filter {
  .c-button {
    border: 2px solid var(--c-button-primary-color);
  }

  .c-button:disabled:not(.c-button--no-disabled-color) {
    --color-button-disabled-bg: #ccc;

    @media screen and (min-width: 520px) {
      box-sizing: content-box;
    }

    &::after {
      content: unset;
    }
  }
}