@layer theme {
    :root {
        --c-card--color--primary: #{$color-plantation};
        --c-card--color--primary-contrast: #fff;
        --c-notice--color--danger: #{$color-thunderbird};
        --o-tooltip--color--alpha: #000;
        --o-tooltip--color--alpha-contrast: #fff;
        --o-tooltip--color--alpha-border: #000;
        --color-primary-light: #{$color-alabaster};
        --color-primary-dark: #{$color-gray};
        --color-secondary: var(--color--secondary);
        --color-secondary-light: var(--color--secondary);
        --color-secondary-dark: #{$color-plantation};
    }
}
