div[class^="modularity-mod-"] {
    &.has-background-stripe {
        position: relative;

        > * {
            position: relative;
        }

        &::before {
            content: '';
            height: 100%;
            margin-left: calc(calc(calc(-100vw - var(--scrollbar))/2) + 50% + var(--scrollbar));
            position: absolute;
            top: 0;
            width: calc(100vw - var(--scrollbar));

            @media screen and (min-width: 1248px) {
                margin-left: calc(-50vw + calc(var(--container-width) / 2) - calc(var(--base, 8px)* 3) + calc(var(--scrollbar)/2));
            }
        }
    }

    &.background-stripe-color-primary {
        &::before {
            background-color: var(--color-primary);
        }
    }

    &.background-stripe-color-primary-light {
        &::before {
            background-color: var(--color-primary-light);
        }
    }

    &.background-stripe-color-primary-dark {
        &::before {
            background-color: var(--color-primary-dark);
        }
    }

    &.background-stripe-color-secondary {
        &::before {
            background-color: var(--color-secondary);
        }
    }

    &.background-stripe-color-secondary-light {
        &::before {
            background-color: var(--color-secondary-light);
        }
    }

    &.background-stripe-color-secondary-dark {
        &::before {
            background-color: var(--color-secondary-dark);
        }
    }
}

#main-content {
    &:has(.sidebar-right-sidebar) {
        div[class^="modularity-mod-"] {
            &.has-background-stripe {
                &::before {}
            }
        }
    }
}