#split-background {
  position: unset;
}

#split-background:after {
  content: '';
  background-color: #cadfde;
  position: absolute;
  width: 100%;
  height: 500px;
  /*   top: -15px; */
  z-index: -1;
  transform: translatey(-50px);
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}

div.widget_block>p:empty {
  display: none;
}

/* News archive */

/* c card image fix  */

.modularity-mod-posts .c-card__image-background {
  min-height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// Footer
@media (max-width: 992px) {
  .mod-script {
    &:has(.ak_quickmeny_footer_container) {
      margin-left: calc(-50vw + (calc(var(--scrollbar) / 2)) + 50%);
      overflow: hidden;
      width: calc(100vw - var(--scrollbar));

      .ak_quickmeny_footer_container {
        margin: 0;
        width: 100%;
      }
    }
  }
}

/* Single job */

.single-lediga-jobb .c-paper {
  background-color: #dededd;
}

.single-lediga-jobb [aria-label='Ansök'].c-button {
  background-color: #fad945;
  border: none;
  color: #000;
  filter: unset;
  outline: none;
}

.single-lediga-jobb [aria-label='Ansök'].c-button span {
  color: #000;
}

/* Noticeboard */
.modularity-mod-noticeboard {
  .box-title {
    background-color: revert;
    color: revert;
    font-size: clamp(var(--font-size-base, 1rem) + .25rem, 3vw, var(--h2-font-size, 1.375rem));
    font-weight: var(--h2-font-weight, var(--font-weight-heading, 500));
    font-family: var(--h2-font-family, var(--font-family-heading, var(--font-family-base, "Roboto", "sans-serif")));
    line-height: var(--h2-line-height, var(--line-height-heading, 1.33));
    padding: revert;
  }
}

.modularity-mod-posts {
  &.announcements {
    .o-grid {
      --grid-gap: 1.5rem;
    }
  }
}