$color-finn: #773255;
$color-plantation: #236151;
$color-quill-gray: #dededd;
$color-alabaster: #f7f7f7;

$color-brand: $color-plantation;
$color-brand-alt: $color-finn;

$color-gray: $color-quill-gray;
