$color-alabaster: #f7f7f7;
$color-finn: #773255;
$color-granny-smith: #889e98;
$color-mine-shaft: #3b3939;
$color-plantation: #236151;
$color-quill-gray: #dededd;
$color-thunderbird: #ae1919;

$color-brand: $color-plantation;
$color-brand-alt: $color-finn;

$color-brand-light: $color-granny-smith;

$color-black: $color-mine-shaft;
$color-gray: $color-quill-gray;